/* * {
    margin: 0;
    padding: 0;
} */


/* body, html {
    min-height: 100%;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("assets/bg_image.png");
    background-color: #c4bc99;
    opacity: 80;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -100;
}

.hidden {
    display: none;
}

.nav {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 30vw;
    max-width: 30vw; */
    position: relative;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* background-color: hotpink; */
}

.left {
    /* background-color: green; */
    max-width: 20vw;
    margin-left: -150px;
    margin-right: 100px;
}

.right {
    /* background-color: rgb(124, 0, 128); */
    max-width: 15vw;
    margin-left: 80px;
}

.logo > img {
    /* background-color: saddlebrown; */
    /* padding-top: 5%; */
    max-width: 350px;
    /* margin-top: -50px; */
}

#ring {
    position: relative;
    top: 0px;
    left: 0px
}

#ring canvas {
    position: absolute
}

#ring-img {
    /* background-color: green; */
    position: static;
    width: 540px;
    height: 540px;
    z-index: -50;
}

.link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: cornflowerblue; */
}

.links:hover {
   height: 80px;
   width: 100px;
}


#canvas-ring {
    position: absolute;
    /* border: 1px solid black; */
    /* background-color: rgba(39, 28, 7, 0.923); */
    width: 500px;
    height: 500px;
    z-index: 100;
    transform: translate(4%, 4%);
}

.about {
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 1%;
    display: block;
    width: 280px;
    /* min-width: 85%; */
    max-height: 100%;
    /* padding: 2em */
}

h1 {
    background-color: #bd0028 ;
    color: white;
    font-family: 'Comfortaa';
    font-weight: 600;
    min-width: 80%;
    min-height: 60px;
    line-height: 1.2em;
    font-size: 25px;
    padding: 1em 0.6em 1em 0.8em;
}

#description {
    /* background-color: rgb(115, 19, 139); */
    font-family: 'Comfortaa';
    line-height: 1.5em;
    text-align: left;
    padding: 2em 1.5em 3em 1.5em;
    font-size: 13px;
    color: rgb(34, 34, 34);
}

#how-to {
    width: 100%;
}


#level-tracker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    height: 150px;
    width: 120px;
    background-color: #bd0028 ;
    border: 10px double white;
    font-family: 'Fredoka One';
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* display: flex;
    flex-direction: column; */
}

#score {
    /* background-color: blue; */
    width: 60px;
    height: 60px
}

#level-tracker > p {
    /* background-color: deeppink; */
    /* height: 50px; */
    font-size: 15px;
}

.game-controls {
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
    height: 400px;
}

.controls {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
    list-style: none;
    height: 100%;
}

.controls button {
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #bd0028 ;
    border-style: none;
    font-family: 'Fredoka One';
    font-size: 15px;
}

.controls button:hover {
    border: 5px double white;
   height: 80px;
   width: 80px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
